<nav class="uk-navbar-container" uk-navbar>
  <div class="uk-navbar-left">
    <a class="uk-navbar-item uk-logo">
      <img alt="" src="/img/logo.svg" width="60px" />
    </a>
  </div>

  <div class="uk-navbar-right uk-visible@s">
    <ul class="uk-navbar-nav">
      <li>
        <a href="#">
          Inicio
        </a>
      </li>
      <li>
        <a href="#">
          Servicios
        </a>
      </li>
      <li>
        <a href="#">
          Contacto
        </a>
      </li>
    </ul>
  </div>

  <!-- Menu icon only for small devices -->
  <div class="uk-navbar-right uk-hidden@s">
    <div class="uk-navbar-nav">
      <li>
        <a href="#offcanvas-slide"
           uk-toggle
           uk-icon="icon: menu; ratio: 1.5"></a>
      </li>
    </div>
  </div>

  <!-- Offcanvas menu with links -->
  <div id="offcanvas-slide" uk-offcanvas>
    <div class="uk-offcanvas-bar">
      <ul class="uk-nav uk-nav-default">
        <li class="uk-active"><a href="#">Active</a></li>
        <li><a href="#">Item</a></li>
        <li class="uk-nav-header">Header</li>
        <li><a href="#">Item</a></li>
        <li><a href="#">Item</a></li>
        <li class="uk-nav-divider"></li>
        <li><a href="#">Item</a></li>
      </ul>
    </div>
  </div>
</nav>
