<section class="ci-section ci-cursos">
  <div class="container main-container">
    <div class="row">
      <div class="col-sm-12">
        <!-- Título de la sección -->
        <div class="d-flex justify-content-left mb-3">
          <div class="mr-3">
            <span class="ci-bar ci-blue"></span>
          </div>
          <div>
            <h3 class="ci-section-title">Aprende a programar como un experto</h3>
          </div>
        </div>

        <!-- Descripción de la sección -->
        <p class="ci-paragraph">
          Congue mauris rhoncus aenean vel elit scelerisque mauris pellentesque pulvinar pellentesque habitant morbi tristique senectus et netus et malesuada fames!
        </p>

        <!-- Tarjeta de Javascript -->
        <div class="card mb-5 mt-5">
          <div class="card-body">
            <img alt="" src="/img/icons/javascript.svg" class="ci-img-reponsive card-img-top mb-2"/>

            <h4 class="card-title ci-card-title text-center">Javascript <small>1 curso</small></h4>
            <p class="card-text ci-paragraph">Dictum sit amet justo donec enim diam, vulputate ut pharetra sit amet, aliquam id diam maecenas ultricies mi eget mauris.</p>
          </div>
        </div>

        <!-- Tarjeta de HTML -->
        <div class="card mb-5">
          <div class="card-body">
            <img alt="" src="/img/icons/html.svg" class="ci-img-reponsive card-img-top mb-2"/>

            <h4 class="card-title ci-card-title text-center">HTML/CSS <small>1 curso</small></h4>
            <p class="card-text ci-paragraph">Dictum sit amet justo donec enim diam, vulputate ut pharetra sit amet, aliquam id diam maecenas ultricies mi eget mauris.</p>
          </div>
        </div>

        <!-- Tarjeta de Android -->
        <div class="card mb-5">
          <div class="card-body">
            <img alt="" src="/img/icons/android.svg" class="ci-img-reponsive card-img-top mb-2"/>

            <h4 class="card-title ci-card-title text-center">Android <small>1 curso</small></h4>
            <p class="card-text ci-paragraph">Dictum sit amet justo donec enim diam, vulputate ut pharetra sit amet, aliquam id diam maecenas ultricies mi eget mauris.</p>
          </div>
        </div>

        <!-- Tarjeta de web -->
        <div class="card mb-5">
          <div class="card-body">
            <img alt="" src="/img/icons/web.svg" class="ci-img-reponsive card-img-top mb-2"/>

            <h4 class="card-title ci-card-title text-center">Desarrollo Web <small>1 curso</small></h4>
            <p class="card-text ci-paragraph">Dictum sit amet justo donec enim diam, vulputate ut pharetra sit amet, aliquam id diam maecenas ultricies mi eget mauris.</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
