<section class="ci-section ci-info">
  <div class="container main-container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <!-- Título de la sección -->
        <div class="d-flex justify-content-left mb-3">
          <div class="mr-3">
            <span class="ci-bar ci-blue-dark"></span>
          </div>
          <div>
            <h3 class="ci-section-title">¿Eres principiante y no sabes cómo empezar a programar?</h3>
          </div>
        </div>

        <!-- Descripción de la sección -->
        <p class="ci-paragraph">Elit scelerisque mauris pellentesque pulvinar pellentesque habitant morbi tristique senectus. Euismod lacinia at quis risus sed vulputate odio ut enim. Euismod quis viverra nibh.</p>

        <div class="ci-btn-wrapper">
          <button type="button" class="btn btn-dark ci-btn-primary">Empieza ahora</button>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 text-center">
        <img alt="" src="/img/icons/laptop.svg" class="ci-img-info" />
      </div>
    </div>
  </div>
</section>
