{% extends "layout.html" %}

{% block metaDescription %}
{{ super() }}
{% endblock %}

{% block content %}

<div class="uk-container uk-margin-top">
  <div class="uk-flex uk-flex-center">
    <div class="uk-card uk-card-default uk-card-body uk-width-1-4@m">
      <div class="uk-card-badge uk-label">Badge</div>
      <h3 class="uk-card-title">Title</h3>
      <p>Lorem ipsum color sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="uk-card uk-card-default uk-card-body uk-width-1-4@m uk-margin-large-left">
      <div class="uk-card-badge uk-label">Badge</div>
      <h3 class="uk-card-title">Title</h3>
      <p>Lorem ipsum color sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="uk-card uk-card-default uk-card-body uk-width-1-4@m uk-margin-large-left">
      <div class="uk-card-badge uk-label">Badge</div>
      <h3 class="uk-card-title">Title</h3>
      <p>Lorem ipsum color sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
</div>

{% endblock %}
