{% extends "layout.html" %}

{% block metaDescription %}
<meta name="description" content="Registrate | Introducción al Desarrollo Web">
{% endblock %}

{% block content %}
<section class="ci-section ci-home">
  <div class="container">
    <div class="row justify-content-center align-items-center mt-5">
      <div class="col-12 col-sm-12 col-md-6 col-lg-5 col-xl-4">

        {% if (message.length > 0) %}
        <div class="alert alert-danger">
          {{ message }}
        </div>
        {% endif %}

        <div class="card">
          <div class="card-header">Regístrate o <a href="/login">Inicia Sesión</a></div>
          <div class="card-body">
            <h4 class="card-title">Ingresa tus datos</h4>

            <form action="/signup" method="post" class="mt-5">
              {% include './partials/form.html' %}
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
{% endblock %}
