@import 'theme/variables';

// Import bootstrap framework
@import 'bootstrap';
@import 'font-awesome';

.main-container {
  margin-top: 40px;
}

/* Typography */
.ci {
  &-paragraph {
    color: $ci-gray-blue;
    font-size: 0.9em;
  }

  &-section-title {
    color: $ci-blue-dark;
  }

  &-card-title {
    small {
      margin-left: 8px;
      font-size: 0.7em;
      color: $ci-blue;
    }
    color: $ci-blue-darker;
  }
}

/* Images */
.ci-img-reponsive {
  min-width: 100px !important;
  max-height: 100px !important;
}