// Default variables and overwrites
/* Brand Colors */
$ci-gray-blue-light: #D5E6EC;
$ci-gray-blue: #91A4B8;
$ci-gray-light: #F6F7F8;
$ci-blue: #29ABE2;
$ci-blue-medium: #2B84A1;
$ci-blue-darker: #0B1E35;
$ci-blue-dark: #3C4B5D;

$white: #fff;
